<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <!-- Floating window -->
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Foreground service -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Android 14+ foreground service -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <!-- Android 13+ notification -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="Trader Pink AI">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <service
            android:name=".FloatingService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="specialUse">

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="trader_pink_ai_floating_signal" />

        </service>

    </application>

</manifest>
